.App {
  padding: 16px;
  height: 100vh;
  background-color: #eaeaea;
}

video {
  width: 100%;
}

input {
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 16px;
}

h3 {
  font-size: 32x;
  margin-bottom: 16px;
}

button {
  padding: 4px 16px;
  display: inline-block;
  background-color: #222;
  color: white;
  border: none;
  font-size: 16px;
  line-height: 24px;
}

img {
  width: 100%;
}

p {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 16px;
  font-weight: 600;
}
